services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - rabbitmq
      - redis
    env_file:
      - backend/.env
    networks:
      - backend_network

  db:
    image: postgres:14
    env_file:
      - backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend_network

  rabbitmq:
    image: rabbitmq:3-management
    env_file:
      - backend/.env
    ports:
      - "5673:5672"
      - "15672:15672"
    networks:
      - backend_network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/frontend
    environment:
      - VITE_API_URL=http://backend:8000
    networks:
      - backend_network

  redis:
    image: "redis:alpine"
    networks:
      - backend_network

networks:
  backend_network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
